/* Common, default styles for the notification box */
/*==============================================================================*/
.ns-box {
	position: fixed;
    padding: 14px;
    padding-right: 48px;
    line-height: 1.4;
    z-index: 1000;
    pointer-events: none;
    color: rgba(250,251,255,.95);
    font-size: 16px;
	border-radius: 4px;
	right: 10px;
	top: 10px;
	-webkit-box-shadow: 10px 10px 56px -9px rgba(196,196,196,1);
	-moz-box-shadow: 10px 10px 56px -9px rgba(196,196,196,1);
	box-shadow: 10px 10px 56px -9px rgba(196,196,196,1);
}
.ns-box.ns-show {
	pointer-events:auto
}
.ns-box a {
	color:inherit;
	opacity:.7;
	font-weight:700
}
.ns-box a:focus,.ns-box a:hover {
	opacity:1
}
.ns-box p {
	margin:0
}
.ns-box.ns-show,.ns-box.ns-visible {
	pointer-events:auto
}
.ns-close {
	width: 48px;
    height: 48px;
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ns-close:after,.ns-close:before {
	content:"";
	position:absolute;
	width:2px;
	height:45%;
	top:50%;
	left:50%;
	background:#ffffff
}

.ns-close:before {
	-webkit-transform:translate(-50%,-50%) rotate(45deg);
	transform:translate(-50%,-50%) rotate(45deg)
}
.ns-close:after {
	-webkit-transform:translate(-50%,-50%) rotate(-45deg);
	transform:translate(-50%,-50%) rotate(-45deg)
}
.notification-shape {
	position:fixed;
	z-index:10000;
	width: 100%;
}

[class*=" ns-effect-"].ns-other.ns-hide,[class^=ns-effect-].ns-other.ns-hide {
	-webkit-animation-direction:reverse;
	animation-direction:reverse
}

.shape-progress {
	top:10px;
	right:10px
}

.ns-effect-loadingcircle.ns-show {
	opacity:0;
	-webkit-animation-duration:.3s;
	animation-duration:.3s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-delay:1s;
	animation-delay:1s;
	-webkit-animation-timing-function:cubic-bezier(.25,.25,.4,1.6);
	animation-timing-function:cubic-bezier(.25,.25,.4,1.6)
}

.ns-info {
	background:#2196f3;
}

.ns-success {
	background:#4caf50;
}

.ns-warning {
	background:#fbb13e;
}

.ns-error {
	background:#f44336;
}