button {
  cursor: pointer;
}

.btn-transparent {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn {
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
  }
}

.btn-pill {
  border-radius: 50em;
}

.btn-square {
  border-radius: 0;
}

@each $color, $value in $theme-colors {
  .btn-ghost-#{$color} {
    @include button-ghost-variant($value);
  }
}
.content-btn-slider{
  margin-right: auto;
  margin-left: auto;
  display: table;
  padding-top: 20px;
}

.btn-slider {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
	pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  text-align: center;
  line-height: 57px;
  line-height: 57px;
  
  @media (max-width: 727px) {
    top: calc(100% - 60px);
  }
  
  @media (min-width: 728px) {
    top: calc(50% - 24px);
  }

  @media (min-width: 1194px) {
    margin-right: 60px;
    margin-left: 60px;
  }

  @media (max-width: 1193px) {
    margin-right: 0px;
    margin-left: 0px;
  }

  &::after {
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid #cccccc;
    border-radius: 50%;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-name: intervalHamburgerBorder;
    animation-name: intervalHamburgerBorder;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  &.disabel{
    background: #cccccc;
    cursor: no-drop;
    &::after {
      -webkit-animation-duration: 0s;
      animation-duration: 0s;
    }
  }

  &.left {
    @media (min-width: 1194px) {
      left: -100%;
    }
    @media (max-width: 1193px) and (min-width: 728px) {
      left: -60px;
    }
    @media (max-width: 727px) {
      left: 0px;
    }
  }
  &.right {
    @media (min-width: 1194px) {
      right: -100%;
    }
    @media (max-width: 1193px) and (min-width: 728px) {
      right: -60px;
    }
    @media (max-width: 727px) {
      right: 0px;
    }
  }

  &.taps_mobile{
    @media (max-width: 499px) {
      left: calc(50% - 24px);
      z-index: 10;
    }
    @media (min-width: 500px) and (max-width: 795px) {
      left: calc(100% - 60px);
      top: calc(100% - 60px);
      z-index: 10;
    }
    @media (min-width: 796px) {
      display: none;
    }

  }
}
.btn-help{
  position: absolute;
  top: 58px;
  width: 64px;
  height: 64px;
  background: #ffffff;
  border-radius: 100%;
  right: 16px;
  text-align: center;
  line-height: 74px;
  cursor: pointer;
}

@-webkit-keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}

@keyframes intervalHamburgerBorder {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	80% {
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.6);
		transform: scale(1.6);
	}
}