@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?43tvnm');
  src:  url('fonts/icomoon.eot?43tvnm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?43tvnm') format('truetype'),
    url('fonts/icomoon.woff?43tvnm') format('woff'),
    url('fonts/icomoon.svg?43tvnm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="on-demand-"], [class*=" on-demand-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.on-demand-chect:before {
  content: "\e900";
}
.on-demand-baseline-call-24px:before {
  content: "\e901";
}
.on-demand-outline-call-24px:before {
  content: "\e902";
}
.on-demand-round-call-24px:before {
  content: "\e903";
}
.on-demand-sharp-call-24px:before {
  content: "\e904";
}
.on-demand-baseline-calendar_today-24px:before {
  content: "\e905";
}
.on-demand-baseline-comment-24px:before {
  content: "\e906";
}
.on-demand-baseline-credit_card-24px:before {
  content: "\e907";
}
.on-demand-baseline-location_on-24px:before {
  content: "\e908";
}
.on-demand-baseline-person_outline-24px:before {
  content: "\e909";
}
.on-demand-baseline-query_builder-24px:before {
  content: "\e90a";
}
.on-demand-baseline-shopping_cart-24px:before {
  content: "\e90b";
}
.on-demand-outline-calendar_today-24px:before {
  content: "\e90c";
}
.on-demand-outline-comment-24px:before {
  content: "\e90d";
}
.on-demand-outline-credit_card-24px:before {
  content: "\e90e";
}
.on-demand-outline-location_on-24px:before {
  content: "\e90f";
}
.on-demand-outline-person_outline-24px:before {
  content: "\e910";
}
.on-demand-outline-query_builder-24px:before {
  content: "\e911";
}
.on-demand-outline-shopping_cart-24px:before {
  content: "\e912";
}
.on-demand-round-calendar_today-24px:before {
  content: "\e913";
}
.on-demand-round-comment-24px:before {
  content: "\e914";
}
.on-demand-round-credit_card-24px:before {
  content: "\e915";
}
.on-demand-round-location_on-24px:before {
  content: "\e916";
}
.on-demand-round-person_outline-24px:before {
  content: "\e917";
}
.on-demand-round-query_builder-24px:before {
  content: "\e918";
}
.on-demand-round-shopping_cart-24px:before {
  content: "\e919";
}
.on-demand-sharp-calendar_today-24px:before {
  content: "\e91a";
}
.on-demand-sharp-comment-24px:before {
  content: "\e91b";
}
.on-demand-sharp-credit_card-24px:before {
  content: "\e91c";
}
.on-demand-sharp-location_on-24px:before {
  content: "\e91d";
}
.on-demand-sharp-person_outline-24px:before {
  content: "\e91e";
}
.on-demand-sharp-query_builder-24px:before {
  content: "\e91f";
}
.on-demand-sharp-shopping_cart-24px:before {
  content: "\e920";
}
.on-demand-icon-01:before {
  content: "\e928";
}
.on-demand-icon-02:before {
  content: "\e929";
}
.on-demand-icon-03:before {
  content: "\e92a";
}
.on-demand-icon-04:before {
  content: "\e92b";
}
.on-demand-icon-05:before {
  content: "\e92c";
}
.on-demand-icon-06:before {
  content: "\e92d";
}
