.page-loader {
    background:rgba(74, 91, 102, 0.609);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 1000000;
   }
   .page-loader .preloader {
    width:50px;
    position:absolute;
    left:50%;
    margin-left:-25px;
    top:50%;
    margin-top:-55px;
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn;
    -webkit-animation-duration:3s;
    animation-duration:3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
   }
   .page-loader .preloader p {
    white-space:nowrap;
    position:relative;
    left:-9px;
    top:47px;
    margin-bottom: 20px;
    color:rgba(255,255,255,.3)
   }
   .preloader:not([class*="pl-"]) {
     width: 40px;
   }
   svg:not(:root) {
     overflow: hidden;
   }
   .pl-circular {
     animation: rotate 2s linear infinite;
     transform-origin: center center;
     width: 100%;
     position: absolute;
     bottom: 0;
     right: 0;
     margin: auto;
   }
   .pl-circular {
     height: 100%;
     top: 0;
     left: 0;
   }
   .preloader.pls-white .plc-path {
     stroke: #fff;
   }
   .preloader[class*=pls-] .plc-path {
     animation: dash 1.5s ease-in-out infinite;
   }
   .plc-path {
     stroke-dasharray: 1,200;
     stroke-dashoffset: 0;
     stroke-linecap: round;
     stroke-width: 2;
     stroke-miterlimit: 10;
     fill: none;
   }
   
   @keyframes rotate {
     100% {
      transform:rotate(360deg)
     }
    }
   
   @keyframes dash {
     0% {
      stroke-dasharray:1,200;
      stroke-dashoffset:0
     }
     50% {
      stroke-dasharray:89,200;
      stroke-dashoffset:-35px
     }
     100% {
      stroke-dasharray:89,200;
      stroke-dashoffset:-124px
     }
    }