// If you want to override variables do it here
@import "variables";
// Import styles
@import "./base/coreui.scss";
// Temp fix for reactstrap
@import './base/_dropdown-menu-right.scss';
// If you want to add something do it here
@import "custom";
@import "stripe";
@import "icon";
@import "register";
// ie fixes
@import "ie-fix";

@import "helpers";

.breadcrumb{
  min-height: 47px;
  padding: 5px;
}
.margin-left-auto{
  margin-left: auto;
}
.democlass{
  .app_lang {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 150px;
    z-index: 10;
    .btn-dropdown{
      border-radius: 20px !important;
    }
  }
}
.navbar-nav{
  .app_lang {
    width: 150px;
    
    .btn-dropdown{
      color: #73818f;
      border: none;
    }
  }
}

.container-fluid.generate {
  height: calc(100% - 72px);
  .row {
    height: 100%;
  }

  .panel_base {
    position: absolute;
    box-sizing: border-box;
    width: 432px;
    padding: 0px;
    left: 0;
    height: 100%;
      &.profile{
        width: 100% !important;
        @media (max-width: 796px) {
          top: 0px;
          height: 100%;
        }
      }
  }
  @media (max-width: 796px) {
    position: relative;
    overflow: hidden;
    height: calc(100% - 45px);

  }
}


.title-app {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  display: block;
}

.text-app {
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
  margin-top: 3px;
}

.tabs {
  width: 100%;
  height: 100%;
  background: #fff;
  

  .tabs_header {
    border-bottom: 1px solid #cccccc;
    padding: 15px;
    display: table;
    min-height: 95px;
    label {
      float: left;
      width: 100%;
      font-weight: 700;
      color: #333333;
    }
    .tabs_btn {
      float: right;
      max-width: 100px;
    }
    .tabs_Input {
      float: left;
      max-width: calc(100% - 108px);
    }
  }

  .react-tabs {
    &__tab-list {
      padding: 0;
      float: left;
      height: 100%;
      background: #ebebec;
      border-right: 1px solid #cccccc;
      margin: 0;
      @media (min-width: 797px){
        overflow-y: auto;
        overflow-x: hidden;
        width: 118px;
      }

      @media (max-width: 796px){
        width: 50px;
      }
    }

    &__tab {

      display: inline-block;
      border: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      cursor: pointer;
      
      border-bottom: 1px solid #cccccc;
      font-weight: 500;
      color: #9b9b9b;
      text-align: center;
      border-right: 1px solid #cccccc;

      &--selected {
        color: #00a1c7;
        background: #fff;
        border-right: 1px solid #ffffff;
      }

      &--disabled {
        color: GrayText;
        cursor: default;
      }
      &:first-of-type {
         margin-top: -1px;
      }
      i {
        float: left;
        width: 100%;
        font-size: 48px;
        &.icons{
          font-size: 31px;
        }
      }

      @media (min-width: 797px){
        height: 100px;
        padding: 6px 12px;
        width: 100px;
        i {
          font-size: 48px;
          &.icons{
            font-size: 31px;
            line-height: 48px;
          }
        }
      }

      @media (max-width: 796px){
        height: auto;
        font-size: 12px;
        width: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        
        i {
          font-size: 24px;
          &.icons{
            font-size: 18px;
          }
        }
      }
    }


    &__tab-panel {
      display: none;
      float: left;
      
      height: 100%;
      padding: 10px;
      position: absolute;
      background: #ffffff;
      border-right: 1px solid #cccccc;
      right: 0px;
      &--selected {
        display: block;
      }

      @media (min-width: 797px){
        width: calc(100% - 100px);
      }

      @media (max-width: 796px){
        width: calc(100% - 50px);
      }

      .scroll-panel{
        max-height: 100%;
        height: 100%;
        overflow: auto;
        position: absolute;
        width: 100%;
        top: 0px;
        right: 0px;
        padding: 10px
      }
    }
  }
}

.genetate_appPanel{
  @media (max-width: 796px) {
      top: calc(100% - 50px ) !important;
      z-index: 100;
      height: 100% !important;
      width: 100% !important;
      .tabs .react-tabs__tab-list{
        position: absolute;
        width: 100%;
        height: 50px;
        white-space: nowrap;
        overflow-x: auto;
        .react-tabs__tab{
          font-size: 0px;
          i {
            line-height: 22px !important;
          }
        }
        
      }
      .tabs .react-tabs__tab-panel{
        width: 100%;
        margin-top: 50px;
        height:  calc(100% - 50px);
        overflow: auto;
      }
      &.profile{
        top: 0px !important;
      }
  }

  .tab-selected-menu{
    @media (min-width: 797px) {
      display: none;
    }
    @media (max-width: 796px) {
      color: #FF0068;
    }
  }
}

.conten_phone {
  position: absolute;
  right: 0;
  @media (min-width: 797px) {
    top: 78px;
    width: calc(100% - 433px);
  }
  @media (max-width: 796px) {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
  }
}

.sidebar-panel {
  @media (max-width: 796px) {
    .genetate_appPanel {
      top: 0px !important;
    }
  }
}

.dropdown {
  float: left;
  width: 100%;
  .btn-dropdown {
    float: left;
    width: 100%;
    background-color: #ffffff;
    text-align: left;
    padding-right: 35px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    height: 44px;
    .fa {
      position: absolute;
      width: 35px;
      height: 35px;
      top: 0;
      right: 0;
      text-align: center;
      line-height: 44px;
    }
    .boxColor{
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
  .dropdown-menu {
    width: 100%;
  }
}

.conten_radio {
  width: calc(100% + 20px);
  height: 150px;
  float: left;
  margin-right: -10px;
  margin-left: -10px;
  .radio {
    float: left;
    padding: 10px;
    height: 100%;
    .panel_radio {
      cursor: pointer;
      width: 100%;
      height: 100%;
      border: 1px solid #cccccc;
      background-color: #ffffff;
      border-radius: 3px;
      float: left;
      color: #9E9E9E;
      padding: 10px;
      &.active {
        background-color: rgba(230, 0, 230, 0.1607843137254902);
        color: #00a1c7;
      }
      i {
        width: 100%;
        float: left;
        text-align: center;
        font-size: 62px;
        margin-bottom: 20px;
      }
      p {
        width: 100%;
        float: left;
        text-align: center;

        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.color_palete_selected {
  float: left;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 154px;
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  overflow: hidden;

  .cabe_color {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    .color_light, .color_dark {
      float: left;
      width: 50%;
      position: absolute;
      bottom: 0px;
      height: 77px;
    }
    .color_light {
      left: 0px;
    }
    .color_dark {
      right: 0px;
    }
  }
}

.box_color_selected {
  float: left;
  width: auto;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  max-height: 57px;
  max-width: 231px;
  padding-right: 5px;
}
.text_box_color_selected{
  padding-top: 10px;
  float: left;
  .boxColor{
    float: left;
  }
}

.boxColor {
  height: 34px;
  width: 34px;
  position: relative;
  outline: none;
  border-radius: 4px;
  margin: 0px 6px 6px 0px;
  border: 1px solid #cccccc;
  cursor: pointer;
  &.active{
    -webkit-box-shadow: 0px 1px 1px 2px #e6dfe6;
    -moz-box-shadow: 0px 1px 1px 2px #e6dfe6;
    box-shadow: 0px 1px 1px 2px #e6dfe6;
  }
  &.icom-map{
    background-repeat:no-repeat  !important;
    background-position: center  !important;
    background-size: 73% !important;
  }
  &.icom-pactk{
    font-size: 28px;
    line-height: 32px;
    border: none;
  }
}

.editColorContent {
  float: left;
  width: 100%;
  padding-top: 20px;
  .tapsColor {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    list-style: none;
    padding: 0px;
    overflow: hidden;
    .taps.react-tabs__tab--selected {
      background: #fff !important;
      color: #333333 !important;
    }
    .taps {
      width: 50%;
      float: left;
      text-align: center;
      line-height: 50px;
      background: #ebebec;
      color: #9b9b9b;
    }
  }
  .bodyTaps {
    float: left;
    width: 100%;

    .chrome-picker {
      width: 100% !important;
      box-shadow: none !important;
    }
  }
}

.box_color_selected_PaletteColor {
  float: right !important;
  width: 63px !important;

  .dropdown-menu {
    width: 160px !important;
    border-color: #cccccc;
    
    @media (min-width: 797px) {
      left: calc(100% + 20px) !important;
      transform: translate3d(0px, 0px, 0px) !important;

      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background: #ffffff;
        left: -10px;
        top: 20px;
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        transform: rotate(45deg);
      }
    }
    
    @media (max-width: 796px) {
      right: calc(100% + 20px) !important;
    }

    .dropdown-item {
      border: 1px solid #cccccc;
      border-radius: 5px;
      margin: 10px;
      width: auto !important;
      padding-left: 10px !important;
      padding-right: 5px !important;
      padding-top: 10px !important;
      padding-bottom: 5px !important;
    }
  }

  .btn-secondary {
    float: left;
    width: 100%;
    background-color: #ffffff;
    padding: 0px !important;
    margin-top: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    line-height: 53px;
    text-align: center !important;
    font-weight: 700;
    box-shadow: none;
  }
}

.textImg {
  float: left;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
  .title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    color: #333333;
  }
  .textImg_p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    color: #999999;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    + label {
      color: #ffffff;
      background: $blue;
      width: auto;
      float: left;
      font-size: 14px;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      //display: inline-block;
      overflow: hidden;
      padding: 0.375rem 0.75rem;
      border-radius: 3px;
      display: block;

      svg {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
      }
    }
  }
}

.text_panel{
  float: left;
  width: 100%;
  margin-bottom: 10px;
  .title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    color: #333333;
  }
  .textImg_p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    color: #999999;
  }
}

.custon_input_file {
  float: left;
  width: 100%;
  .content_img {
    float: left;
    width: auto;
  }

  .conten_text {
    float: right;
    font-size: 11px;
    color: #999999;
    font-weight: 700;
    padding-left: 10px;
  }

  .content_input {
    float: left;
    width: 100%;
    padding-top: 10px;
  }
}

.edit-button-panel {
  display: inline-block;
  position: relative;
  z-index: 1;
  .btn-group {
    margin: 2px;
    .btn {
      line-height: 32px !important;
      margin: 0;
      padding: 5px 10px !important;
    }
  }

  .options-panel {
    z-index: 2;
    width: 800px;
    position: absolute;
    top: calc(100% + 13px);
    left: 0;
    background: #ffffff;
    min-height: 50px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius:  8px;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #ffffff;
      left: 10px;
      top: -10px;
      border-bottom: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      transform: rotate(135deg);
    }
  }
}

.btn-secondary {
  float: left;
  width: 100%;
  background-color: #ffffff;
  padding: 0px !important;
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  line-height: 53px;
  text-align: center !important;
  font-weight: 700;
  box-shadow: none;
}

.content-alt {
  max-width: 1200px;
  margin: 0 auto;
}
.content-seach{
  margin-bottom: 20px;
  width: 100%;
  margin-left: auto;
}

/*************************************************/
.payment{
  position: absolute;
  width: calc(100% - 432px);
  height: calc(100% - 47px);
  background: #ffffff;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  &.big{
    width: 100% !important;
    height: 100% !important;
    display: table;
    overflow: hidden !important;
    top: 0;
    z-index: 10;
  }
  &.fixed{
    position: fixed;
  }
  @media (max-width: 796px) {
    width: 100% !important;
    top: 0;
  }

  .close-btn{
      position: absolute;
      top: 10px;
      width: 48px;
      height: 48px;
      right: 10px;
      text-align: center;
      line-height: 48px;
      font-size: 37px;
      cursor: pointer;
  }
  .content-paymente{
    float: left;
    width: 100%;
    @media (min-width: 797px) {
      padding: 50px;
    }
    @media (max-width: 796px) {
      padding-top: 50px;
    }
    h3{
      font-size: 1.5rem;
      line-height: 1.33333333;
      margin-bottom: 16px;
      color: #253858;
      @media (max-width: 796px) {
        padding: 10px;
      }
    }
    .component--buy-product-group{
      .eyebrows{
        margin-top: 20px;
        padding-left: 20px;
        color: #42526E;
        font-size: .75rem;
        letter-spacing: 1px;
        line-height: 2;
        margin-bottom: 16px;
        //text-transform: uppercase;
      }
      ul{
        list-style: none;
        
        @media (min-width: 797px) {
          padding-left: 20px;
        }
        @media (max-width: 796px) {
          padding-left: 0px;
          display: table;
          width: 100%;
        }

        li{
          margin: 20px 0;
          float: left;
          padding: 10px;
          
          @media (min-width: 797px) {
            width: 33.33333333%;
          }
          @media (max-width: 796px) {
            width: 100%;
          }
        }

        &.pay{
          li{
            width: 100%;
            max-width: 555px;
            float: none;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .component-item--product{
        background: #ffffff;
        padding: 20px;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        border: 1px solid transparent;
        min-height: 95px;
        color: #253858;
        font-size: 16px;
        .t-1{
          font-weight: 500;
        }
        .a-m{
          font-size: 24px;
          font-weight: 700;
          line-height: 59px;
        }
        .t-2{
          padding-bottom: 10px;
        }
        .btn {
            width: 100%;
            font-size: 24px;
            font-weight: 500;
        }
      }

      .component-item--product-error {
          background: #fbe5b4;
          border-radius: 6px;
          cursor: pointer;
          position: relative;
          border: 1px solid transparent;
          margin-bottom: 10px;
          float: left;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          span{
            float: left;
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            .btn{
              float: right;
            }
          }
      }
    }

    &.congratulation{
      text-align: center;
      img{
        margin: auto;
        display: block;
        width: 300px;
      }
    }
  }
}

.select-wrapper {
  position: relative;
  width: 100%;

  input[readonly] {
    background: #fff;
  }

  ul {
    width: inherit;
    position: absolute;
    top: calc(100% + 4px);
    background: #fff;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    animation: slide-fade .2s linear;
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;

    li {
      border: 1px solid #ccc;
      padding: 5px 10px;
      border-bottom: none;
      border-left: none;
      // animation: slide-fade .2s linear;

      &:hover {
        cursor: pointer;
        background: rgba(0, 51, 153, 0.25);
      }

      &:only-child {
        border-radius: 4px;
        border: 1px solid #ccc;
      }
  
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
  
      &:first-child:not(:only-child) {
        border-radius: 4px 4px 0 0;
        border-top: none;
      }
      
      &:last-child:not(:only-child) {
        border-radius: 0 0 4px 4px;
        border-bottom: none;
      }
    }
  }
}

@keyframes slide-fade {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
.panel-500{
  width: 100%;
  max-width: 600px;
}

.keystore-help:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.hoverable-list {
  user-select: none;

  .list-group-item:not(.active):hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
  }
}

.img_center{
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.title_genetor {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  color: #333333;
}
.w100{
  float: left;
  width: 100%;
}

//select.form-control{
//  text-transform: capitalize;
//}

.btn-toggle-idon{
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  cursor: pointer;
}

.text-info-profile{
  font-size: 18px;
  font-weight: 600;
  color: #363636;
}

.customer_info_app {
  background: rgb(230, 230, 230);
  padding: 10px 20px;
  display: inline;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    user-select: none;
  }
}

.m-b-10{
  margin-bottom: 10px;
}

.url-panel{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (max-width: 500px) {
    padding: 10px;
  }
  .form-control{
    //padding: 14px;
      color: #253858;
      font-size: 1.75rem;
      text-align: right;
      line-height: 1;
      padding-bottom: 11px;
  }
  label{
    font-size: 1.5rem;
    line-height: 1.33333333;
    margin-bottom: 16px;
    color: #253858;
    font-weight: 700;
  }
  span h2 {
    color: #253858;
    // font-weight: bold;
  }
}

.span_header{
  float: right;
  margin-top: 6px;
}

.m-r-10{
  margin-right: 10px;
}

.p-5{
  padding: 5px !important;
}

.mb-10 {
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.j-h-36{
  line-height: 36px;
}

.css-1aya2g8{
  background-color: #ffffff !important;
}

.scroll-panel-icom{
  max-height: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  width: 250px;
  top: 0px;
  right: 0px;
}

.big-code  .CodeMirror{
  height: 1000px;
}

.index-2000 {
  z-index: 20000;
}
.login{
  padding: 0;
  @media (min-width: 768px) { 
    min-width: 470px;
    .footer_login{
      .right{
        float: right !important;
      }
    }
  }
  @media (max-width: 767px) {
    min-width: 320px;
    .p-3 {
        padding: 0 !important;
    }
    .footer_login{
      .text-left{
          text-align: center !important;
      }
      .right{
          margin-left: auto;
          margin-right: auto;
          display: block;
      }
    }
  }
}
.headar-no-fixed-movile{
  @media (max-width: 767px) {
    .app-header{
      position: absolute !important;
    }
  }
}

.microtext {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    color: #999999;
}

.status_progress_bar{
  width: 250px;
  display: inline-block;
  height: 4px;
  background: #e4e4e4;
  margin-right: 29px;
  border-radius: 5px;
  position: relative;
}
.status_progress_bar span{
  position: absolute;
  height: 100%;
  left: 0px;
  border-radius: 4px;
  background: #3a9d5d;
}

.status_progress_bar .cir {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: -9px;
  background: #fff;
  z-index: 1;
  border: 4px solid #e4e4e4;
  font: normal normal normal 14px/1 FontAwesome;
  text-align: center;
  font-size: 10px;
  color: #e4e4e4;
}

.status_progress_bar .cir:before{
  content: "\F00C";
}

.status_progress_bar .cir.s_1{
 left: 0;
}
.status_progress_bar .cir.s_2{
 left: 25%;
}
.status_progress_bar .cir.s_3{
  left: 50%;
}
.status_progress_bar .cir.s_4{
  left: 75%;
}
.status_progress_bar .cir.s_5{
  left: 100%;
}

.status_progress_bar.active_draft span{
	width: 0%;
}

.status_progress_bar.active_draft .cir.s_1{
  border: 4px solid #3a9d5d;
  color:  #3a9d5d;
}

.status_progress_bar.active_ready_to_send span{
	width: 25%;
}

.status_progress_bar.active_ready_to_send .cir.s_1,
.status_progress_bar.active_ready_to_send .cir.s_2{
  border: 4px solid #3a9d5d;
  color:  #3a9d5d;
}

.status_progress_bar.active_sent span{
	width: 50%;
}

.status_progress_bar.active_sent .cir.s_1,
.status_progress_bar.active_sent .cir.s_2,
.status_progress_bar.active_sent .cir.s_3{
  border: 4px solid #3a9d5d;
  color:  #3a9d5d;
}


.status_progress_bar.active_in_review span{
	width: 75%;
}

.status_progress_bar.active_in_review .cir.s_1,
.status_progress_bar.active_in_review .cir.s_2,
.status_progress_bar.active_in_review .cir.s_3,
.status_progress_bar.active_in_review .cir.s_4{
  border: 4px solid #3a9d5d;
  color:  #3a9d5d;
}

.status_progress_bar.active_approved span{
	width: 100%;
}

.status_progress_bar.active_approved .cir.s_1,
.status_progress_bar.active_approved .cir.s_2,
.status_progress_bar.active_approved .cir.s_3,
.status_progress_bar.active_approved .cir.s_4,
.status_progress_bar.active_approved .cir.s_5{
  border: 4px solid #3a9d5d;
  color:  #3a9d5d;
}

.status_progress_bar.active_rejected span{
	background: #e73827;
	width: 99%;
}

.status_progress_bar.active_rejected .cir.s_1,
.status_progress_bar.active_rejected .cir.s_2,
.status_progress_bar.active_rejected .cir.s_3,
.status_progress_bar.active_rejected .cir.s_4,
.status_progress_bar.active_rejected .cir.s_5{
  border: 4px solid #e73827;
  color:  #e73827;
}

::placeholder {
	color: #e0e0e0 !important;
}
.app_verifacion_phone{
  float: left;
  min-width: 500px;
}

.app_verifacion_phone .btn-slider.left{
    left: -141px !important;
}
.app_verifacion_phone .btn-slider.right{
    right: -141px !important;
}

.itemsUser{
  float: left;
  @media (min-width: 797px) {
    width: calc(33.33333333% - 10px);
    max-height: 135px;
  }
  @media (max-width: 796px) {
    width: 100%;
  }

  padding: 25px;

  border: 1px solid #2f2c64;
  border-radius: 3px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
  color: #2f2c64;
  i{
    width: 100%;
    float: left;
    font-size: 40px;
    margin-bottom: 20px;
  }

  &.active{
    color: #fff;
    background-color: #002673;
    border-color: #002266;
  }
}

.img_center.domain{
  @media (min-width: 797px) {
    height: 300px;
  }
  @media (max-width: 796px) {
    width: 100%;
  }
}

.domain-content-between{
  @media (max-width: 415px) {
    h2{
      display: none
    }
  }
}

.btn_center{
  margin-left: auto;
  margin-right: auto;
}

.card-body.registerFrom{
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.p-10{
  padding: 10px;
}